{% extends 'base.html.twig' %}

{#{% block title %}Hello {{ controller_name }}!{% endblock %}#}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    {#<h1>Hello {{ controller_name }}! ✅</h1>#}

    This friendly message is coming :
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <div>
            <a  href="{{ path('app_register') }}">Register</a>
        </div>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <div>
            <a  href="{{ path('admin') }}">Admin</a>
        </div>
    {% endif %}
    {% if not app.user %}
        <div>
            <a  href="{{ path('app_login') }}">connect</a>
        </div>
        {% else %}
            <div>
                <a  href="{{ path('app_logout') }}">deco</a>
            </div>
    {% endif %}

        {% for roles in app.user.roles %}
            <table>
                <tr>
                    {{ roles }}
                </tr>
            </table>
        {% endfor %}

    <ul>
        <li>Your controller at <code><a href="{{ 'src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
    </ul>
    {#{{ form_start(form) }}#}
    {#{{ form_widget(form) }}#}
    {#{{ form_end(form) }}#}
</div>
{% endblock %}
