{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>
            {%  if editMode %}
                Modification d'un article
            {% else %}
                Création d'un article
            {% endif %}
       </h2>

        {{ form_start(formArticle) }}
        <div class="card px-3 mt-5">
            <div class="form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating">Nom</label>
                {{ form_widget(formArticle.title, {'attr':{'class':"form-control"}}) }}
            </div>
            <div class="form-group px-2">
                <label for="exampleInputEmail1" class="bmd-label-floating">Description</label>
                {{ form_widget(formArticle.description, {'attr':{'class':"form-control"}}) }}
            </div>
            <div class="form-group px-2">
                <label for="exampleInputEmail1" class="bmd-label-floating">Categorie</label>
                {{ form_widget(formArticle.category, {'attr':{'class':"form-control"}}) }}
            </div>
            <div class="form-group px-2">
                <label for="exampleInputEmail1" class="bmd-label-floating">Image</label>
                {{ form_widget(formArticle.image, {'attr':{'class':"form-control"}}) }}
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1" class="bmd-label-floating">Message</label>
                {{ form_widget(formArticle.content, {'attr':{'class':"form-control"}}) }}
            </div>
            <button type="submit" class="btn btn-success">
                {%  if editMode %}
                    Enregistrer les modifications
                {% else %}
                    Ajouter l'article
                {% endif %}
            </button>
        </div>
    </div>
        {{ form_end(formArticle) }}
        </div>
{% endblock %}
