{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {{ form_start(formFiltre) }}
            {{ form_widget(formFiltre) }}
            <button type="submit">Recherche</button>
            {{ form_end(formFiltre) }}
        </div>
    <div class="row">
        <div class="primary col-md-8 col-sm-12 col-xs-12">
            {% for article in pagination.data %}
            <div class="section px-3 mt-2 card">
                <div class="section-inner">
                    <div class="content">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="article_date">
                                    <div class="article_date_day">{{ article.createdAt | date('d/m/Y') }}</div>
                                    <div class="article_date_day">{{ article.author.name }}</div>
                                    {#<div class="article_date_month">{{ article.createdAt | date('m') }}</div>#}

                                    <br class="clear">
                                    <img src="{{ article.image }}">
                                </div>
                            </div>

                            <div class="col-sm-10">
                                <div class="col-sm-col-lg-12">
                                    <a href="{{ path('blog_show', {'id': article.id }) }}" title="Authentification ssh par clé privée">
                                        <h3 class="heading">{{ article.title }}</h3>
                                    </a>
                                </div>
                                {#<div class="col-sm-5 article_image">#}
                                    {#<a class="thumbnail" href="/14-symfony-validation-des-emails" title="Symfony : Validation des emails">#}
                                        {#<img src="https://lorempixel.com/100/100" alt="Symfony : Validation des emails">#}
                                    {#</a>#}
                                {#</div>#}
                                <div class="col-sm-12 text-justify">{{ article.description | raw}}</div>
                                <a href="{{ path('blog_show', {'id': article.id }) }}" class="btn btn-primary">lire la suite</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="px-3 mt-5 d-flex justify-content-center">
                {% set page = pagination.page %}
                {% set pages = pagination.pages %}
                <ul class="pagination">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('blog', {'page':page - 1}) }}">&laquo;</a>
                    </li>
                    {% for i in 1..pages %}
                        <li class="page-item {% if page == i %}active{% endif %}">
                            <a class="page-link" href="{{ path('blog', {'page': i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}
                    <li class="page-item {% if page == pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('blog', {'page':page + 1}) }}">&raquo;</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="secondary col-md-4 col-sm-12 col-xs-12">
            <div class="card mt-2">
                <div class="card-body">
                    <h4>Categorie</h4>
                </div>
            </div>
            <div class="card mt-2">
                <div class="card-body">
                    <h4>Partagez cette page</h4>
                    <div class="content text-center">
                        <a style="size: 2em;" target="_blank" rel="nofollow" href="" title="Partagez cette page sur Twitter" class="ico_social ico_social_twitter"><i class="fab fa-twitter"></i></a>
                        <a target="_blank" rel="nofollow" href="" title="Partagez cette page sur Facebook" class="ico_social ico_social_facebook"><i class="fab fa-facebook-f"></i></a>
                        <a target="_blank" rel="nofollow" href="" title="Partagez cette page sur Google" class="ico_social ico_social_google"><i class="fab fa-google-plus"></i></a>
                        <a target="_blank" rel="nofollow" href="" title="Partagez cette page sur Linkedin" class="ico_social ico_social_linkedin"><i class="fab fa-linkedin-in"></i></a>
                        <a target="_blank" rel="nofollow" href="" title="Partagez cette page par mail" class="ico_social ico_social_email"><i class="fas fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
