{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <article class="card px-3 mt-5">
            <div class="card-body">
            <h2>{{ article.title }}</h2>
            <div class="metadata">Ecrit le {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}
            dans la catégorie {{ article.category.title }}</div>
            <div class="content">
                <img src="{{ article.image }}">
                {{ article.content | raw }}
            </div>
            </div>
        </article>
        <section class="">
            <h6>{{ article.comments | length }} Commentaires : </h6>
            {% for comment in article.comments %}
            <div class="card">
                    <div class="card-header">
                        {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="card-body">
                        {{ comment.content | raw }}
                    </div>
            </div>
                <hr class="my-1">
            {% endfor %}

            {#{% if app.user %}#}
                {{ form_start(commentForm) }}
                    <div class="card px-3 mt-5">
                        <h4>Laissez un commentaire !</h4>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Nom</label>
                            {{ form_widget(commentForm.author, {'attr':{'class':"form-control"}}) }}
                            <span class="bmd-help">We'll never share your email with anyone else.</span>
                        </div>
                        <div class="form-group px-2">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Description</label>
                            {{ form_widget(commentForm.content, {'attr':{'class':"form-control"}}) }}
                            <span class="bmd-help">We'll never share your email with anyone else.</span>
                        </div>
                        <button type="submit" class="btn btn-success">Send
                        </button>
                    </div>
                {{ form_end(commentForm) }}
                {#{% else %}#}
                {#<h2>connecter vous !</h2>#}
                    {#<a href="{{ path('security_login') }}" class="btn btn-succes">connexion</a>#}
            {#{% endif %}#}
        </section>
    </div>
{% endblock %}