
{% extends 'base.html.twig' %}
{% block body %}
    <div class="">
        {% for message in app.flashes('info') %}
            <div class="alert alert-dismissible alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        <div class="row">
            <div class="col">
                <div class="list-group px-3 mt-5">
                    <a href="{{ path('admin') }}" class="list-group-item list-group-item-action">Index</a>
                    <a href="{{ path('admin_user_list') }}" class="list-group-item list-group-item-action">Utilisateurs</a>
                    <a href="{{ path('admin_article_list') }}" class="list-group-item list-group-item-action active">Articles</a>
                    <a href="#" class="list-group-item list-group-item-action disabled"></a>
                </div>
            </div>

            <div class="col-9">
                <div id="card" style="background-color: grey">
                    <table id="myTable" class="display">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>titre</th>
                            <th>Jour</th>
                            <th>Mois</th>
                            <th>catégorie</th>
                            {#<th><a href="{{ path('article_create') }}">Article <span class="glyphicon glyphicon-plus-sign"></span></a></th>#}
                        </tr>
                        <tbody>
                        {% for article in pagination.data %}
                            <tr class="table-primary">
                                <td>{{ article.id }}</td>
                                <td>{{ article.title }}</td>
                                <td>{{ article.createdAt | date('d') }}</td>
                                <td>{{ article.createdAt | date('h') }}</td>
                                <td> {{ article.category.title }}</td>
                                {#<td><a href="{{ path('article_edit', {'id': article.id }) }}" class="btn btn-success btn-sm">Modifier</a></td>#}
                                {#<td>#}
                                    {#<form method="post" action="{{ path('article_delete', {'id': article.id }) }}">#}
                                        {#<input type="hidden" name="_method" value="DELETE">#}
                                        {#<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ article.id) }}">#}
                                        {#<button class="btn btn-danger btn-sm">supprimer</button>#}
                                    {#</form>#}
                                {#</td>#}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {% set page = pagination.page %}
                        {% set pages = pagination.pages %}
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('admin_article_list', {'page':page - 1}) }}">&laquo;</a>
                            </li>
                            {% for i in 1..pages %}
                                <li class="page-item {% if page == i %}active{% endif %}">
                                    <a class="page-link" href="{{ path('admin_article_list', {'page': i}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page == pages %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('admin_article_list', {'page':page + 1}) }}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}



