
{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="">
        <div class="example-wrapper">
            <div class="col">
                <div class="row">
                    <div class="col mb-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="e-profile">
                                    <ul class="nav nav-tabs">
                                        <li class="nav-item"><a href="" class="active nav-link">
                                                {%  if editMode %}
                                                    Mise à jour
                                                {% else %}
                                                    Création
                                                {% endif %}
                                                </a></li>
                                    </ul>
                                    <div class="tab-content pt-3">
                                        <div class="tab-pane active">
                                            {{ form_start(formUserRole) }}
                                                <div class="row">
                                                    <div class="col">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.password,{'label':'password'}) }}
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.username,{'label':'NNI'}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.name,{'label':'Prenom'}) }}
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.lastname,{'label':'Nom'}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.email,{'label':'Email'}) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    {{ form_row(formUserRole.roles) }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col d-flex justify-content-end">
                                                        {%  if editMode %}
                                                            <button class="btn btn-primary" type="submit">Enregistrer les changements</button>
                                                        {% else %}
                                                            <button class="btn btn-primary" type="submit">Créer un utilisateur</button>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            {{ form_end(formUserRole) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}