{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col">
        <div class="list-group px-3 mt-5">
            <a href="{{ path('admin') }}" class="list-group-item list-group-item-action active">Index</a>
            <a href="{{ path('admin_user_list') }}" class="list-group-item list-group-item-action">Utilisateurs</a>
            <a href="{{ path('admin_article_list') }}" class="list-group-item list-group-item-action">Articles</a>
            <a href="#" class="list-group-item list-group-item-action disabled"></a>
        </div>
    </div>
    <div class="col">

    </div>
</div>
{% endblock %}
{% block javascripts %}

{% endblock %}

