
{% extends 'base.html.twig' %}

{% block body %}
    <div class="">
        <div class="row">
            <div class="col">
                <div class="list-group px-3 mt-5">
                    <a href="{{ path('admin') }}" class="list-group-item list-group-item-action">Index</a>
                    <a href="{{ path('admin_user_list') }}" class="list-group-item list-group-item-action active">Utilisateurs</a>
                    <a href="{{ path('admin_article_list') }}" class="list-group-item list-group-item-action">Articles</a>
                    <a href="#" class="list-group-item list-group-item-action disabled"></a>
                </div>
            </div>

            <div class="col-9">
                <div id="">
                    <table class="table table-hover table-sm px-3 mt-5 ">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Pseudo</th>
                            <th scope="col">Email</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in pagination.data %}
                            <tr class="table-primary">
                                <td>{{ user.id }}</td>
                                <td>{{ user.username }}</td>
                                <td> {{ user.email }}</td>
                                <td><a href="{{ path('admin_user_edit', {'id': user.id }) }}" class="btn btn-success btn-sm">Modifier</a></td>
                                <td>
                                    <form method="post" action="">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="_token" value="">
                                        <button class="btn btn-danger btn-sm">supprimer</button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        {% set page = pagination.page %}
                        {% set pages = pagination.pages %}
                        <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('admin_article_list', {'page':page - 1}) }}">&laquo;</a>
                            </li>
                            {% for i in 1..pages %}
                                <li class="page-item {% if page == i %}active{% endif %}">
                                    <a class="page-link" href="{{ path('admin_article_list', {'page': i}) }}">{{ i }}</a>
                                </li>
                            {% endfor %}
                            <li class="page-item {% if page == pages %}disabled{% endif %}">
                                <a class="page-link" href="{{ path('admin_article_list', {'page':page + 1}) }}">&raquo;</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
