{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="">
    {{ form_start(form) }}
    <div class="card px-3 mt-5">
        <h2 class="heading">Contactez-moi</h2>
        <p>
            N’hésitez pas à me contacter pour toutes demandes : renseignements, suggestions, remarques, partenariats, etc …
        </p>
        <div class="form-group">
            <label for="exampleInputEmail1" class="bmd-label-floating">Nom</label>
            {{ form_widget(form.name, {'attr':{'class':"form-control"}}) }}
        </div>
        <div class="form-group px-2">
            <label for="exampleInputEmail1" class="bmd-label-floating">Prénom</label>
            {{ form_widget(form.lastname, {'attr':{'class':"form-control"}}) }}
        </div>
        <div class="form-group px-2">
            <label for="exampleInputEmail1" class="bmd-label-floating">Email</label>
            {{ form_widget(form.email, {'attr':{'class':"form-control"}}) }}
        </div>
        <div class="form-group px-2">
            <label for="exampleInputEmail1" class="bmd-label-floating">Sujet</label>
            {{ form_widget(form.subject, {'attr':{'class':"form-control"}}) }}
        </div>
        <div class="form-group">
            {#<label for="exampleInputEmail1" class="bmd-label-floating">Message</label>#}
            {{ form_widget(form.content, {'attr':{'class':"form-control"}}) }}
        </div>
        <button type="submit" class="btn btn-success">Envoyez
        </button>
    </div>
</div>
    {{ form_end(form) }}
</div>
{% endblock %}
