{% extends 'base.html.twig' %}

{% block body %}

<form action="{{ path('security_login') }}" method="post">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Se connecter</h1>
                        <div class="form-label-group">
                            <input placeholder="NNI.." required name="_username" type="text" class="form-control">
                        </div>
                        <div class="form-label-group">
                            <input placeholder="Mot de passe..." required name="_password" type="password" class="form-control">
                        </div>
                        <hr class="my-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-lg btn-primary btn-block text-uppercase">Connection</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}