{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card-body">
                    <h1 class="card-title text-center">Inscription sur le site</h1>
                    <div class="card px-3 mt-5">
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Pseudo</label>
                            {{ form_widget(form.username, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Nom</label>
                            {{ form_widget(form.name, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Prenom</label>
                            {{ form_widget(form.lastname, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">E-mail</label>
                            {{ form_widget(form.email, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Mot de passe</label>
                            {{ form_widget(form.password, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" class="bmd-label-floating">Confirmer mot de passe</label>
                            {{ form_widget(form.confirm_password, {'attr':{'class':"form-control"}}) }}
                        </div>
                        <button type="submit" class="btn btn-success">Inscription</button>
                    </div>
                </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}