{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<div class="">
  <div class="row">
    <div class="col">
        <div class="list-group px-3 mt-5">
            <a class="list-group-item list-group-item-action active">Cras justo odio</a>
            <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
            <a href="#" class="list-group-item list-group-item-action disabled">Morbi leo risus</a>
        </div>
    </div>


    <div class="col-9">
        <div id="">
            <table class="table table-hover  px-3 mt-5 ">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Titre</th>
                    <th scope="col">Indicateur</th>
                    <th scope="col">Date d'ajout</th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                <tr class="table-primary">
                    <td>{{ file.id }}</td>
                    <td>{{ file.name }}</td>
                    <td>{{ file.indicateur.title }}</td>
                    <td>Le {{ file.uploadedAt | date('d/m/Y') }} à {{ file.uploadedAt | date('H:i') }}</td>
                    <td><a href="{{ path('upload_download', {'id': file.id }) }}">try</a></td>
                    <td>
                        <form method="post" action="{{ path('upload_delete', {'id': file.id }) }}">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('upload_delete' ~ file.id) }}">
                            <button class="btn btn-danger btn-sm">supprimer</button>
                        </form>
                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-center">
                <ul class="pagination">
                    <li class="page-item {% if page == 1 %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('file', {'page':page - 1}) }}">&laquo;</a>
                    </li>
                    {% for i in 1..pages %}
                    <li class="page-item {% if page == i %}active{% endif %}">
                        <a class="page-link" href="{{ path('file', {'page': i}) }}">{{ i }}</a>
                    </li>
                    {% endfor %}
                    <li class="page-item {% if page == pages %}disabled{% endif %}">
                        <a class="page-link" href="{{ path('file', {'page':page + 1}) }}">&raquo;</a>
                    </li>
                </ul>
            </div>
            {{ form_start(formUpload) }}
            {{ form_widget(formUpload) }}
            <button type="submit">send</button>
            {{ form_end(formUpload) }}

            {#{{ form_start(formIndicateur) }}#}
            {#{{ form_widget(formIndicateur) }}#}
            {#<button type="submit">send</button>#}
            {#{{ form_end(formIndicateur) }}#}
        </div>
    </div>
  </div>
</div>

    


</div>
{% endblock %}
